.conceitos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  max-width: 200px;
  margin: 2rem auto;
}

.conceitos-grid label {
  align-self: center;
  font-weight: bold;
  color: #333;
}

.conceitos-grid input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p{
  text-align: center;
}